@model Crafty.Models.AdminModel
@{
    ViewBag.Title = "Admin Page";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <br />
    @{
        <h4>Total accounts: @Model.numberOfTotalAccounts</h4>
        <h4>Total subscribers: @Model.numberOfPayingAccounts</h4>
        <h4>Total beer monthly subscribers: @Model.numberOfBeerAccounts</h4>
        <h4>Total hard monthly liquor subscribers: @Model.numberOfHardLiquorAccounts</h4>
        <br />

        if(Model.numberOfPayingAccounts == 0)
        {
            <h4>Percent beer suscribers:</h4>
            <h4>Percent hard liquor subscribers: </h4>
        }
        else
        {
            <h4>Percent beer subscribers: @Math.Round((double)Model.percentBeerAccounts, 2)</h4>
            <h4>Percent hard liquor subscribers: @Math.Round((double)Model.percentHardLiqourAccounts, 2)</h4>
        }

        <br />
        <h4>Monthly Revenue: $@Model.monthlyRevenue</h4>
    }
    <br />

</div>
