@model Crafty.Models.AdminModel
@{
    ViewBag.Title = "Admin Page";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <br />
    @{
        <h4>Total Site Accounts: @Model.numberOfTotalAccounts</h4>
        <h4>Total Subscribers: @Model.numberOfPayingAccounts</h4>
        <h4>Total Beer monthly Subscribers: @Model.numberOfBeerAccounts</h4>
        <h4>Total Hard Liquor Subscribers: @Model.numberOfHardLiquorAccounts</h4>
        <br />

        if(Model.numberOfPayingAccounts == 0)
        {
            <h4>Percent Beer Subscribers:</h4>
            <h4>Percent Hard Liquor Subscribers: </h4>
        }
        else
        {
            <h4>Percent Beer Subscribers: @Math.Round((double)Model.percentBeerAccounts, 2)</h4>
            <h4>Percent Hard Liquor Subscribers: @Math.Round((double)Model.percentHardLiqourAccounts, 2)</h4>
        }

        <br />
        <h4>Monthly Revenue: $@Model.monthlyRevenue</h4>
    }
    <br />

</div>
