@model Crafty.Models.Survey
@{
    ViewBag.Title = "Take Survey";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Survey</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <h4>1.  Which beer do you prefer?</h4>
            <div class="col-md-10">
                @{var listItems1 = new List<SelectListItem>
                        ()
                {
                new SelectListItem {Text = "Ale",   Value = "1"},
                new SelectListItem {Text = "Stout",   Value = "2"},
                new SelectListItem {Text = "Lager", Value = "3"},
                new SelectListItem {Text = "Specialty", Value = "4"}
                };

                    @Html.DropDownListFor(m => m.question1, listItems1)
                }
            </div>
        </div>
        <div class="form-group">
            <h4>2.  Do you consume your beverage rather quickly or slowly?</h4>
            <div class="col-md-10">
                @{var listItems2 = new List<SelectListItem>
                        ()
                {
                new SelectListItem {Text = "Slowly", Value = "1"},
                new SelectListItem {Text = "Quickly",   Value = "10"}
                };

                    @Html.DropDownListFor(m => m.question2, listItems2)
                }
            </div>
        </div>
        <div class="form-group">
            <h4>3.  Do you prefer your drink Cold or at Room temperature?</h4> 
            <div class="col-md-10">
                @{var listItems3 = new List<SelectListItem>
                        ()
                {
                new SelectListItem {Text = "Cold",   Value = "1"},
                new SelectListItem {Text = "Room temperature", Value = "10"}
                };

                    @Html.DropDownListFor(m => m.question3, listItems3)
                }
            </div>
        </div>
        <div class="form-group">
            <h4>4.   Do you consume mixed drinks often?</h4>
            <div class="col-md-10">
                @{var listItems4 = new List<SelectListItem>
                        ()
                {
                new SelectListItem {Text = "No", Value = "1"},
                new SelectListItem {Text = "Yes",   Value = "10"}
                };

                    @Html.DropDownListFor(m => m.question4, listItems4)
                }
            </div>
        </div>
        <div class="form-group">
            <h4>5.  Do you prefer Pina coladas, Margaritas or Bloody Marys?</h4>
            <div class="col-md-10">
                @{var listItems5 = new List<SelectListItem>
                        ()
                {
                new SelectListItem {Text = "Pina coladas", Value = "8"},
                new SelectListItem {Text = "Margaritas", Value = "9"},
                new SelectListItem {Text = "Bloody Marys", Value = "10"}
                };

                    @Html.DropDownListFor(m => m.question5, listItems5)
                }
            </div>
        </div>
        <div class="form-group">
            <h4>6.  How many times have you visited a brewery within the past 3 years?</h4>
            <div class="col-md-10">
                @{var listItems6 = new List<SelectListItem>
                        ()
                 {
                new SelectListItem {Text = "3 or more times", Value = "0"},
                new SelectListItem {Text = "Twice", Value = "1"},
                new SelectListItem {Text = "Once",   Value = "10"},
                };

                    @Html.DropDownListFor(m => m.question6, listItems6)
                }
            </div>
        </div>
        <div class="form-group">
            <h4>7.  How many times have you visited a distillery within the past 3 years?</h4>
            <div class="col-md-10">
                @{var listItems7 = new List<SelectListItem>
                        ()
                {
                new SelectListItem {Text = "Once",   Value = "0"},
                new SelectListItem {Text = "Twice", Value = "10"},
                new SelectListItem {Text = "3 or more times", Value = "10"}
                };

                    @Html.DropDownListFor(m => m.question7, listItems7)
                }
            </div>
        </div>
        <div class="form-group">
            <h4>8.  If you do drink spirits, are they of a high alcoholic volume?</h4>
            <div class="col-md-10">
                @{var listItems8 = new List<SelectListItem>
                        ()
                {
                new SelectListItem {Text = "No", Value = "1"},
                new SelectListItem {Text = "Yes",   Value = "10"},
                };

                    @Html.DropDownListFor(m => m.question8, listItems8)
                }
            </div>
        </div>

       @*<div class="form-group">
                @Html.LabelFor(model => model.question2, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.question2, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.question2, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.question3, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.question3, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.question3, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.question4, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.question4, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.question4, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.question5, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.question5, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.question5, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.question6, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.question6, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.question6, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.question7, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.question7, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.question7, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.question8, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.question8, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.question8, "", new { @class = "text-danger" })
                </div>
            </div>*@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit Survey" class="btn btn-default" />
            </div>
        </div>
    </div>
                    }
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
