@model IEnumerable<Crafty.Models.Survey>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.question1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.question2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.question3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.question4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.question5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.question6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.question7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.question8)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.question1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.question2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.question3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.question4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.question5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.question6)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.question7)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.question8)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
