@model Crafty.Models.IndexViewModel
@{
    ViewBag.Title = "Purchase Page";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>

@using (Html.BeginForm("ThankYou", "Survey"))
{
    @Html.AntiForgeryToken()


<table class="table">
    <tr>
        <th>
            Recommended Box
        </th>
        <th>
            Box Price
        </th>
        <th>
            Contents
        </th>
    <tr>
        <td>
            @Html.DisplayFor(modelItem => modelItem.product)
        </td>
        <td>
            $@Html.DisplayFor(modelItem => modelItem.boxPrice)
        </td>
        <td>
            @foreach (string s in Model.contentNames)
            {
                <p>@s</p>
            }
        </td>
        <td>
            <input type="submit" value="Purchase" class="btn btn-default" />
        </td>
</table>

<div>

    <h5>&nbsp&nbsp<a href="/Survey/Create">Retake survey</a></h5>
    <br />

</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        @*<input type="submit" value="Purchase" class="btn btn-default" />*@
    </div>
</div>

}